<!-- <h1>jyoti</h1>

<p>jyoti {{name}}</p>
<p>{{10+5}}</p>
<p>{{name.toUpperCase()}}</p>
<p>{{isAdmin ? "wlc admin" : "jyoti"}}</p>
<p>{{getUser()}}</p>
<h1>{{title()}}</h1> -->
<!-- <app-events></app-events>
<h1>{{count}}</h1>
<button (click)="handleClick()">submit</button> -->
<!-- <h1>Data type</h1>
<button (click)="handleclick()">click me</button> -->



<!-- <button (click)="handleclick()">click me</button>
<input (input)="onTyping($event)" placeholder="type something"/>
<input (keyup)="onKeyUp($event)" placeholder="press any key">

<div (mouseover)="onHover($event)" class="hover-box">Hover Text</div> -->
<!-- <app-counter></app-counter> -->
<!-- <app-get></app-get> -->
<!-- <app-style></app-style> -->
<!-- <app-ifelse></app-ifelse> -->
<!-- <app-loop></app-loop> -->
<!-- <app-signals></app-signals> -->
<!-- <app-effects></app-effects> -->
<!-- <app-pipes></app-pipes> -->
<!-- 
<h1>{{fullName | pipeShortName}}</h1>
<h2>{{usd | currency}}</h2>
<h2>{{usd | convert:usdToInr | currency:'INR'}}</h2> -->


<!-- <app-signals></app-signals> -->
<!-- <app-binding></app-binding> -->
<!-- <app-todo></app-todo> -->

<!-- <h2> Parent Comp</h2> -->
<!-- <app-child></app-child> -->
<!-- <app-child (notify)="onMessage($event)"></app-child> -->
<!-- <p>Message: {{message}}</p> -->
<!-- 
<app-child #child></app-child>
<p>Msg from Child :{{child.message()}}</p> -->
<!-- <h2>Counter App</h2>

<p>Current Count: {{ counterStore.count()}}</p>

<button (click)="counterStore.increment()">+</button>

<button (click)="counterStore.decrement()">-</button>
<button (click)="counterStore.reset()">reset</button> -->

<!-- <h2>Application</h2>

@if (userStore.user()){
  <p> wlc  {{userStore.user()!.name}}</p>
  @if (userStore.isAdmin()){
    <p> Admin Access</p>
  }
  <button (click)="userStore.logout()">Logout</button>

} @else {
  <button (click)="userStore.login('jyoti','admin')">Login as Admin</button>
} -->
<!-- <app-formsstore></app-formsstore> -->

<!-- <app-reusable
 [title]="'Angular Course'"
 [description]="'Learn angular 21 step by step'">


 <p> this is coming from parent</p>
 <button>Click me</button>
</app-reusable> -->

<!-- <app-button
  [label]="'Save'"
  (clicked)="onSave($event)"
></app-button>
<p>{{message}}</p> -->



<!-- <app-form-field
  [label]="'Email'"
  [value]="'test@gmail.com'"
  [type]="'email'">
  </app-form-field> -->
  
<!-- <h1>My aap</h1>

<nav>
  <a routerLink="/">Home</a><br>
  <a routerLink="/about">About</a><br>
  <a routerLink="/contact">Contact</a><br>
</nav>


<router-outlet></router-outlet> -->
<!-- <h1>Hello Dasboard</h1>
<router-outlet></router-outlet> -->

<!-- 
<h1>Angular lazy loading</h1>
<nav>
  <a routerLink="/home">Home</a><br>
  <a routerLink="/admin">Admin</a>
</nav>
<router-outlet></router-outlet> -->

<!-- <app-header-component></app-header-component>
<div class="container">
  <router-outlet></router-outlet>
</div> -->

<!-- 
<router-outlet></router-outlet> -->
<!-- 
<a routerLink="/product/101">Product 101</a><br>
<a routerLink="/product/102">Product 102</a><br>
<a routerLink="/product/103">Product 103</a><br>
<a [routerLink]="['/products']" [queryParams]="{category:'mobile',sort:'price'}">All Products</a>
<router-outlet></router-outlet> -->


<router-outlet></router-outlet>